/* Elements With Class Selector */
/*p and clas="big */
p.big {
    font-size: 20px;
    text-align: center;
    color: #eb8484;
} 

/*Child Selector*/
/*every p that is a direct child of article */
article > p {
    color: blue;
} 

/*Decendant Selector*/
/*evey p tat is inside (at any level of div)*/
div p{
    color: rgb(194, 54, 101);
}

/*Not Limited To Element Selectors */

/*every p that is inside (at any level) an element with class="colored"*/
.colored p {
    color: rgb(203, 231, 45);
}

/*every element with class="colored" that is direct child of article element*/
article > .colored {
    color: coral;
}



/*Psedudo-Class Selector*/
/* selector:pseudo-class {

}*/
/*
:link //
:visited //
:hover // 
:active //
:nth-child() //   */

header li {
    list-style: none;
}
a:link, a:visited {
    text-decoration: none;
    background-color: rgb(145, 189, 145);
    border: 1px solid rgb(182, 62, 146);
    color: black;
    display: block; /*it changes the block*/
    width: 200px;
    text-align: center;
    margin-bottom: 2.4px;
}
a:hover, a:active {
    background-color: pink;
    color: rgb(179, 94, 10);
}
header li:nth-child(3) {
    font-size: 24px;
}
section div:nth-child(odd) {
    background-color: rgb(209, 185, 185);
}
section div:nth-child(even) {
    background-color: antiquewhite;
}
section div:nth-child(3):hover {
    background-color: rgb(121, 121, 190);
    cursor: pointer;
}
/*Pseudo-class selectors ae very powerful*/
/*make sure your selector is still readeble*/
/*simple/readable > complicated/tricky*/



/*Style Placement*/
h2 {
    color:  maroon;
}
body {
    background-color: rgba(226, 226, 226, 0.815);
    font-size: 110%;
}
/*placing styles inline is great for quick testing */
/*real sites mostly use external styles */
/*head styles are usually there t ooverried external ones */






/*Conflict Resolution*/
/*Some Concepts*/
/*
Origin
Merge
Inheritance
Specificity
*/

/*ORIGIN*/
/* Origin Precedence (WHEN IN CONFLICT) */
/*Last Declaration Wins */
/* Origin Precedence (WHEN NO CONFLICT) */
/*Declaration Merge */

/*INHERITENCE*/




/*BOX MODEL*/

* {
    box-sizing: border-box; /*use this better*/
    /*select every elemnt on page appy*/
}

#box {
    background-color: rgb(182, 182, 228);
    padding:  20px 10px 20px 10px;
    border: 2px solid red;
    margin: 40px;
    width: 700px;
    height: 100px;
    border-radius: 6px;
    overflow: auto; /*make a scroll bar*/
}
#box-content {
    background-color: blueviolet;
}
h1 {
    margin-bottom: 30px;
}
